@import url(https://fonts.googleapis.com/css2?family=DM+Sans&family=Dangrek&family=Inconsolata&family=Inter&family=Roboto&family=Space+Mono&display=swap);
/* .frontside {
    top: 93px;
    position: absolute;
    left: 111px;
    z-index: 1;

}

.backside {
    top: 301px;
    position: absolute;
    left: 171px;
    z-index: 1;
} */

/* .frontcard {
    position: absolute;
    height: 186px;
    width: 342px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.backcard {
    position: absolute;
    height: 186px;
    width: 342px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

} */
.logo1{
    position: fixed;
    width: 35px;
    top: 115px;
    left: 138px;
    z-index: 1;
}
.logo2{
    position: fixed;
    width: 20px;
    top: 122px;
    left: 183px;
    z-index: 1;
}
.digitnum{
    position: fixed;
    top: 192px;
    left: 146px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    z-index: 1;
}
.name{
    position: fixed;
    top: 229px;
    left: 146px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    z-index: 1;

}
.monthcon{
    position: fixed;
    top: 229px;
    left: 380px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    z-index: 1;
}
.yearcon{
    position: fixed;
    top: 229px;
    left: 411px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    z-index: 1;
}
.secretcvv{
    position: fixed;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    z-index: 1;
    letter-spacing: 0.19em;
    
    top: 384px;
    left: 434px;
    color: #FFFFFF;
}